html {
	height:100%;
}
body {
	height: 100%;
	background: url(../images/bkg.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}

/* прибьём футер к низу*/
.wrapper{
	position: relative;
	height: auto;
	min-height: 100%;
	min-width: 970px;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block
}
.page-footer {
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}

/* прибъём футер к низу - конец*/

/* Шапка */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 116px;
	background: #eff3f7;	
	position: relative;
	margin-bottom: 42px;
}
.page-header .header-logo-link{
	position: absolute;
	top: 39px;
	left: 15px;
}
.page-header .header-logo-text{
	position: absolute;
	left:-9999px;
}
.page-header .socials {
	position: absolute;
	right: -16px;
	top: 35px;
}
/* Шапка конец */



/* Блок социальных ссылок */
.socials{
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style:none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left:19px;
	/* Отступ у таких элементов всегда слева */
}
.socials .socials-item:first-child {
	margin-left: 0;	
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/socials.png) no-repeat;
	background-position: -47px 0px;
}
.socials .socials-link.vk { background-position:  0px 0px;}
.socials .socials-link.tw { background-position: -52px 0px;}
.socials .socials-link.fb { background-position: -104px 0px;}
.socials .socials-link.gt { background-position: -156px 0px;}
.socials .socials-link:hover {background-position-y: -52px;}
/* Блок социальных ссылок -конец */



/* Сайдбар */
.sidebar {
	width: 250px;
	float: left;
}



/* Навигация */
.navigation {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 24px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding:0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}
.navigation .navigation-item:hover {
	color: #959aa8;
}
.navigation .navigation-item .navigation-link:focus{
	font-style: italic;
}
.navigation .navigation-item:first-child {
	border-top:none;
}
.navigation .navigation-item:active {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;
}
.navigation .navigation-item .navigation-link:active{
	color: #f9fafb;
	font-size: 22px;
}
/* Навигация - текущий пункт меню */
.navigation .navigation-item.current{
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* Хак*/
}

.navigation .navigation-item.current .navigation-link {
	color: #f9fafb;
	font-size: 22px;
}
/* Навигация - текущий пунтк меню - конец */
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover{
	color: #3ba8c0;
}
/* Навигация - конец */

/* Главная область */
.variable-content {
	width:650px;
	float: right;
}


/* Футер */
.page-footer {
	background: #eff3f7;	
	font-family:'fira_sanslight';
	color: #4a545d;
}

.page-footer .container {
	padding-top: 23px;
	position: relative;
}
.page-footer .copyright{
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}
/* Логин */
.page-footer .lock{
	position: absolute;
	top: 26px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	text-indent: -9999px;
	background: url(../images/lock-close.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background:url(../images/lock-open.png) no-repeat;
}
/* Логин - конец */
/* Футер - конец */

/* общие классы */
.container {
	width: 960px;
	margin: 0px auto;
	/*padding-left:32px;*/
}
.text-center{
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float:right;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix - конец */
/* общие классы - конец */
.contacts {
	color: white;
}
.contacts-header {
	background: #3ba8c0;	
	margin-bottom: 0;	
	font-family: 'fira_sansbook';
	font-size: 20px;
	font-style: normal;
	border-top: 2px solid #3ba8c0;
	border-radius: 4px 4px 0 0;
	padding: 4px 21px 3px 21px;
}
.contacts-list {
	list-style:none;	
	padding: 0;	
	margin-top: 0;		
}
.contacts-item {		
	padding: 8px 0px 7px 83px;
}
.contacts-link {
	color: white;	
	font-family: 'fira_sansbook';
	font-size: 16px;
	font-style: normal;		
	text-decoration: none;
}
.contacts-item.icon-email {
	background: #41b9d4 url(../images/email.png) 42px 11px no-repeat;	
}
.contacts-item.icon-tel {
	background: #48cbe8 url(../images/tel.png) 43px 10px no-repeat;	
}
.contacts-item.icon-skype {
	background: #51daf8 url(../images/skype.png) 43px 10px no-repeat;	
	border-bottom: 2px solid #51daf8;
	border-radius: 0 0 4px 4px;
	padding-bottom: 5px;
}
.contacts-item:hover {
	text-decoration: underline;
}
.contacts-item .contacts-link:focus{
font-style: italic;
}
.contacts-item .contacts-link:active {
	color: #eff3f7;
}
.page-header:after, .page-footer:before {
	content: '';	
	display: block;	
	height: 3px;
	background:#1c667a;
	background: -moz-linear-gradient(to right, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);
	background: -webkit-linear-gradient(to right, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);
	background: -o-linear-gradient(to right, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);
	background: -ms-linear-gradient(to right, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);
	background: linear-gradient(to right, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);		
}

/* Стилизация кнопок submit и reset - Начало */
.buttons {
	font-family: 'fira_sansbook';
	font-size: 18px;
	border-radius: 4px;
	color: #ffffff;
	border: none;
	margin-bottom: 90px;
	padding: 2px 22px 0px 22px;
}
.buttons:hover {
	border:none;
}
.buttons:focus {
	outline:none;
}
.buttons:active{
	border-top: 2px solid #3ba8c0;
}
.buttons-submit {
	float: left;
	border-bottom: 2px solid #3ba8c0;
	background: #48cbe8;
}
.buttons-reset {
	float: right;
	border-bottom: 2px solid #687b8f;
	background: #849db5;
}
.buttons-reset:active {
	border-top: 2px solid #687b8f;
}
/* Стилизация кнопок submit и rest - Конец */


.qtip-mystyle {
	font-family: 'fira_sansbook';
	font-size: 13px;
	color: white;
	background: #f97e76;
	border-radius: 2px;
	border: 1px solid #f97e76;

}
.qtip-mystyle2 .qtip-corner {
	height: 3px;
}
.has-error {
	border:1px solid red;
	background:rgba(249,126,118,0.33);
}